doctype html
html
  head
    meta(charset='utf-8')
    title Thanks for your feedback
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='styles/main.css')
    script(type="text/javascript" src="https://l2.io/ip.js?var=myip")
    script(type="text/javascript" src="/scripts/satisfaction.min.js")


  body
    .container-fluid.full-height
      .thanks
          .container
            .col-sm-12
              h2 Thanks for the feedback!
          form#satisfaction(action="https://script.google.com/macros/s/AKfycbxtl0qaUunta4r6QaqSNrQookBQ6SuGN2h8VzPvn8MzK_MDDJkw/exec" method="get")
            input#result(type="hidden",
              value="",
              name="result")
            input#origin(type="hidden",
              value="",
              name="origin")
            input#ip(type="hidden",
              value="",
              name="ip")
            input#invisible-button(type="submit",
              value="Submit"
              name="invisible-button")
